.App {
  text-align: center;
  margin: 20px;
}

body {
  font-family: "Lucida Console", Monaco, monospace;
  margin: 20px;
}

button {
  font-family: "Lucida Console", Monaco, monospace;
  width: 33vw;
  max-width: 100px;
  margin: 20px;

}

.highlight {
  background-color: gold !important;
  margin: 20px;

}

html {
  background-color: whitesmoke;
  margin: 20px;

}

.inactive {
  opacity: 50%;
}

input {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 15%;
  font-size: 15px;
  margin: 10px;

}

.progressBar {
  display: flex;
  margin: 0 auto;
  width: 80 vw;
  max-width: 300px;
  height: 20px;
  background-color: lightgreen;
  border-radius: 10%;
  border: 2px solid black;
  margin:  20px auto;

}

.progressBarBlock {
  height: 20px;
  /* width: 20px; */
  background-color: green;
}

.square {
  max-height: 100px;
  max-width: 100px;
  border: 2px solid black;
  display: inline-block;
  margin: 2px;
  background-color: floralwhite;
  border-radius: 10%;
}
